{% extends "blog/blogBase.html" %}
{% block navBar %}
    {% include "blog/widgets/navBar.html" %}
{% endblock %}
{% block mainContent %}
    <!-- jumbotron header -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="lt-jumbotrons">
                    <div class="jumbotron jumbotron-1">
                        <h1>欢迎所有挖虫的搬砖者</h1>
                        <p>希望这里能够在你的挖虫、搬砖的日子里提供一把有力的铲子！</p>
                        <p>如果你有任何疑问都可以通过QQ或者微博联系我。</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- end jumbotron header -->
        <!-- content -->
        <div class="row">
            <!-- blog content -->
            <div class="col-md-8">
                {% include "blog/include/blogList.html" %}
                {% include "blog/widgets/pagination.html" %}
            </div>
            <!-- end blog content -->
            <!-- side area -->
            <div class="col-md-4">
                {% include "blog/widgets/search.html" %}
                {% include "blog/widgets/user_info.html" %}
                {% include "blog/widgets/category.html" %}
                {% include "blog/widgets/tag_cloud.html" %}
                {% include "blog/widgets/links.html" %}
            </div>
            <!-- end side area -->
        </div>
        <!-- end content -->
    </div>
{% endblock %}
{% block footer %}
    {% include "blog/widgets/footer.html" %}
{% endblock %}