{% extends "blog/blogBase.html" %}
{% load staticfiles %}
{% block dochead %}
    <style type="text/css" rel="stylesheet">
        html, body {
            background-image: url("{% static "img/blog/login_bg.jpg" %}");
        }
        .lt-from{
            border-radius: 6px;
        }
        .form-control{
            border-radius: 6px;
        }
    </style>
{% endblock %}
{% block mainContent %}
    <!-- jumbotron header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <div class="page-head page-title">
                    <h1>用户登录</h1>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <div id="login">
                    <div class="modal-header">
                    </div>
                </div>
                <div class="lt-from lt-box">
                    {% include "blog/widgets/loginForm.html" %}
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock %}
