<div class="search ">
    <form class="form-horizontal" role="form" method="post" action="/search/">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="请输入关键字">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="form-control btn btn-danger btn-radius">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>