<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Wade、Blog</title>
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/blog/Snake.ico" %}"/>
    <!-- CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href='http://fonts.useso.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='{% static "css/jqcloud.css" %}' rel='stylesheet' type='text/css'>
    <!-- Javascript Files -->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.pagination.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.knob.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqcloud-1.0.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ie-emulation-modes-warning.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    <link href="{% static "css/custom.css" %}" rel="stylesheet"/>

    {% block dochead %}{% endblock %}
</head>

<body>
<!-- Start: Preloader -->
<div id="preloader">
    <div id="loader"></div>
</div>
<!-- End: Preloader -->
{% block main %}
{% endblock %}

{% block botomscript %}
{% endblock %}
</body>
</html>